#{extends 'main.html' /}
#{set title:'About' /}

<div class="container_12">
  <div class="how-it-work">
      <div class="grid_12 short-introduce">
          <h3 class="rs title"><span class="fc-black">About</span> MyCleanCity</h3>
          <div class="box-introduce">
              <div class="wrap-2col">
                  <div class="left-intro">
                      <h4 class="rs title-intro">Towards a better Petaling Jaya</h4>
                      <p class="rs pb20">The MyCleanCity mobile application is a project initiated by the Center to Combat Corruption and Cronyism. The vision of MyCleanCity is as follows - “A  livable and clean city for everyone”.</p>
                      <p class="rs pb20">In order to achieve the above vision, we invite residents of Petaling Jaya to be partner of development in the following 3 ways:</p>

                      <p class="rs pb20"><span class="fc-black" style="font-weight: bold;">a. Resident Complaints</span> – Help identify local issues in your neighborhood. Provide accurate description so that local authorities could resolve them efficiently</p>
                      <p class="rs pb20"><span class="fc-black" style="font-weight: bold;">b. Catch the Culprit</span> – Be the ears and eyes of MBPJ. Help us nab individuals or corporations that dirtying the city or create problems in your neighborhood</p>
                      <p class="rs pb20"><span class="fc-black" style="font-weight: bold;">c. Resident Thinkbox</span> – Think of an idea, gather support and present your idea at the City Council on how to make the city a livable place for all.</p>
                  </div>
                  <div class="right-intro"><img src="${cms?.aboutUsPhoto?.url('1000')}" class="" alt="$DESCRIPTION"/></div>
                  <div class="clear"></div>
              </div>
          </div>
      </div>
      <div class="clear"></div>
  </div>
</div>